:root{
    --caveat-font: "Caveat Brush", cursive;
    --light-slate:#ccd6f6;
    --white:#ffffff;
    --light-blue:rgb(76, 202, 237);
    --violet:#4169e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}