.use-location-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;

  padding: 8px 12px;
  background: rgb(76, 202, 237);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.use-location-btn:hover {
  background: rgb(138, 216, 237);
}
