.use-location-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;

  padding: 8px 12px;
  background: var(--light-blue);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}
.zoom-selected-post {
  border: none;
}

.use-location-btn:hover {
  background: rgb(138, 216, 237);
}

.zoom-selected-post:hover {
  background: rgb(138, 216, 237);
}

.form-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  background: var(--light-slate);
  padding: 16px;
  border-radius: 8px;
  width: 300px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.remove-marker-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;

  padding: 8px 12px;
  background: rgb(237, 76, 76);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.zoom-selected-post {
  margin-bottom: 8px;
  padding: 6px 10px;
  background: var(--light-blue);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 13px;
  font-weight: 500;
}

.use-location-btn,
.zoom-selected-post,
.remove-marker-btn {
  font-family: var(--caveat-font);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.popup-address {
  font-family: var(--caveat-font);
  margin-top: 8px;
  font-size: 16px;
}

.popup-description {
  font-family: var(--caveat-font);
  margin-top: 8px;
  font-size: 18px;
}

/* Selected Post Popup */
.selected-post {
  background-color: var(--light-slate);
  padding: 12px;
  border-radius: 8px;
  max-width: 280px;
}

/* Target the Mapbox popup background */
.mapboxgl-popup-content {
  background-color: var(--light-slate) !important;
  border-radius: 8px !important;
  padding: 0 !important;
}

/* Remove default padding from popup tip (arrow) */
.mapboxgl-popup-tip {
  border-top-color: var(--light-slate) !important;
}

.popup-time {
  font-family: var(--caveat-font);
  margin-top: 8px;
  font-size: 16px;
}

.view-image-button {
  margin-bottom: 8px;
  padding: 6px 10px;
  background: var(--light-blue);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--caveat-font);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  cursor: default;
}

/* .selected-post {
  max-height: 400px;
  max-width: 500px;
  overflow-y: auto;
} */
