.use-location-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;

  padding: 8px 12px;
  background: var(--light-blue);;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.use-location-btn:hover {
  background: rgb(138, 216, 237);
}


.form-overlay {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  background: var(--light-slate);
  padding: 16px;
  border-radius: 8px;
  width: 300px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.remove-marker-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;

  padding: 8px 12px;
  background: rgb(237, 76, 76);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
}

.zoom-selected-post {
  margin-bottom: 8px;
  padding: 6px 10px;
  background: var(--light-blue);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  font-size: 13px;
  font-weight: 500;
}


